/* Styling for resume */

BODY {
  font-family: 'Open Sans', Arial, sans-serif
}

/* Name */
#name {
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #33485e;
    width:60%;
    min-width:  300px;
    margin:0 auto
}

/* Section titles */
#sectionheaders {
  font-size: 1.5em;
  color: white;
  background-color: #33485e;
  text-transform: uppercase;
  font-weight: 400;
  margin: 10px 0 20px 0;
  width:70;
  min-width:300px;
}

/* Job titles */
#jobtitle {
  font-weight:600;
  font-size: 1.5em;
}

/* Organization */
#organization {
  font-weight: 400;
  font-size: 1.25em;
}

/* Dates */
#date {
    font-style: italic;
    font-size: 1em;
    font-weight:400
   }

p {
    color: #444;
  }
strong {
    text-transform: uppercase;
    font: size 1.5em;
    color:#33485e;
    font-weight: 400;
  }

ul {
    font-size: 1em;
  }
  li {
    font-size: 1em;
  }