/* Styling for resume project */

.h1, .h2, .h3{
    font-family: "Georgia";
    
}
.row{
    padding: 50px;
}

.row {
    padding-bottom: 50px;
}

@media screen and (max-width: 500px) {
   h2 {
    margin-top: 50px;
    .btn {
        background-color: teal;
        font-family: "Georgia";
   }
}
}
